<div id="radians-converter-wrapper">
    
    <table class="table-class">

        <thead>
            <td>Radians</td>
            <td>Degress&deg;</td>
            <td>Formula rad × 180/π = degrees</td>
            
        </thead>

        <tbody id="radians-table-body"></tbody>
        
    </table>

    <table class="table-class">

        <thead>
            <td>Degress&deg; </td>
            <td>Radians</td>
            <td>Formula degrees × π/180 = 0<small>rad</small></td>
        </thead>

        <tbody id="degress-table-body"></tbody>
        
    </table>

</div>